<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">{{titulo}}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <form [formGroup]="personaForm" (ngSubmit)="submitPersona()">

        <p-divider align="center" type="solid">
          <b>Datos basicos</b>
        </p-divider>

        <div class="row">

          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="nombre"
                formControlName="nombre"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="nombre">Nombre</label>
            </p-floatlabel>

            @if(personaForm.get('nombre')?.touched && personaForm.get('nombre')?.invalid){
              <small>Falta el nombre</small>
            }
          </div>

          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="apellido"
                formControlName="apellido"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="apellido">Apellido</label>
            </p-floatlabel>

            @if(personaForm.get('apellido')?.touched && personaForm.get('apellido')?.invalid){
              <small>Falta el apellido</small>
            }
          </div>

          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="tipoDocumento"
                formControlName="tipoDocumento"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="tipoDocumento">Tipo documento</label>
            </p-floatlabel>

            @if(personaForm.get('tipoDocumento')?.touched && personaForm.get('tipoDocumento')?.invalid){
              <small>Falta el tipo de documento</small>
            }
          </div>

          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="documento"
                formControlName="documento"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="documento">Documento</label>
            </p-floatlabel>

            @if(personaForm.get('documento')?.touched && personaForm.get('documento')?.invalid){
              <small>Falta el documento</small>
            }
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
             <p-datePicker
               id="fechaNacimiento"
               formControlName="fechaNacimiento"
               dateFormat="yyyy-mm-dd"
               size="large"
               fluid="true"
               [showIcon]="true"
               inputId="buttondisplay"
               [showOnFocus]="false"/>
              <label for="fechaNacimiento">Fecha nacimiento</label>
            </p-floatlabel>

            @if(personaForm.get('fechaNacimiento')?.touched && personaForm.get('fechaNacimiento')?.invalid){
              <small>Falta la fecha de nacimiento</small>
            }
          </div>
          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="direccion"
                formControlName="direccion"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="direccion">Direccion</label>
            </p-floatlabel>

          </div>
          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="telefono"
                formControlName="telefono"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="telefono">Telefono</label>
            </p-floatlabel>
          </div>
          <div class="col-md-3">
            <p-floatlabel variant="on" class="mt-3">
              <input
                pInputText
                id="email"
                formControlName="email"
                autocomplete="off"
                pSize="large"
                fluid="true"/>
              <label for="email">Email</label>
            </p-floatlabel>

            @if(personaForm.get('email')?.invalid){
              <small>El correo esta mal escrito</small>
            }
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <p-floatlabel variant="on" class="mt-3">
                <input pInputText id="pais" formControlName="pais" autocomplete="off" pSize="large" fluid="true"/>
                <label for="pais">Pais</label>
              </p-floatlabel>
            </div>
          <div class="col-md-4">
            <p-floatlabel variant="on" class="mt-3">
              <p-select
                id="departamento"
                [options]="departamentos"
                placeholder="seleccione"
                optionLabel="nombre"
                size="large"
                fluid="true"
                formControlName="departamento"
                (onChange)="listarCiudadesDep( $event)"
              />
              <label for="correo">Departamento</label>
            </p-floatlabel>
          </div>
          <div class="col-md-4">
            <p-floatlabel variant="on" class="mt-3">
              <p-select
                id="ciudad"
                [options]="ciudades"
                placeholder="seleccione"
                optionLabel="municipio"
                size="large"
                fluid="true"
                formControlName="ciudad"
              />
              <label for="ciudad">Ciudad</label>
            </p-floatlabel>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <p-button [disabled]="personaForm.invalid" label="Guardar" type="submit" class="mt-3"></p-button>
          </div>
        </div>
      </form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

<p-toast/>
